#ramkag {
    padding: 23px;
    max-width: 98%;
    height: 100px;
    min-width: 17%;
    font-size: 5vw;
    animation-name: textg;
    animation-duration: 3s;
    font-family: 'Times New Roman', Georgia, serif;
    text-align: center;
    margin-bottom: 40px;
}
body {
  background-color: #0a0a2e;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes example {
  0%   {background-color: #0a0a2e;}
  25%  {background-color: #4a0e4e;}
  50%  {background-color: #0d2a1f;} 
  75%  {background-color: #724f14;}
  100% {background-color: #81143c;}
}

#ramkap {
  margin: auto;
  width: 100px;
  
}

.r {
border-radius: 25px;
border: 1px solid gray;
background-color: blanchedalmond;
max_width: 75%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
min-height: 100px;
text-align: center;
margin-bottom: 5px;

}

/*
#a{
 why does github lie also fix the uptime gheez

}

#b {

  
}
*/

@keyframes textg {
  from {font-size: 1vw;}
  to {font-size: 4.5vw;}
}
h1 {
color:red;


}

#e {
  min-height: 15px;

}

